*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffff;
    scroll-behavior: smooth;
}
/* header section */
:root{
    --header-color:#e9f6eb;
    --header-text-color:#435d5f;
    --text-hover-background-color:#088179;
    --color-bladck:black;
}

header div,
header p,
header a{
    height: 3rem;
    width: 100%;
    background: var(--header-color);
    display: inline;
    color: var(--header-text-color);
    text-align: center;
    margin-top: 3%;
    font-size: 1.2rem;
}
.header-middle-text p{
    font-weight: 550;
}
    
a,p,h1{
    text-decoration: none;
    font-family: 'Catamaran', sans-serif;
    white-space: nowrap;
    
}
header{
    background-color: var(--header-color);
    width: 100%;
    display: grid;
    gap: 275px;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    align-items: baseline;
   border-bottom: 1px solid var(--text-hover-background-color);
}
.header-left-text p{
padding-left:40px ;
}

    

/* logo ,navbar, and  serch and icoms  */
.logog-nav-search{
    display: grid;
    gap: 250px;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: 80px;
}

.logg-nav{
    margin-right: 140px;
}

.logg-nav ul,
.logg-nav, 
.logg-nav li,
.logg-nav a,
.search-icons,
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding-left: 15px;
    color: var(--color-bladck);
    font-weight: 500;
    font-size: 1.3rem;
    
}

.logg-nav a:hover{
 color: var(--text-hover-background-color);
}

    
.search-icons .search-bar{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
    height: 45px;
    border: 2px solid rgb(168, 166, 166);
    padding-right: 15px;
    position: relative;
    border-radius: 5px;

}
.search-icons{
    margin-right: 70px;
}
.heart,.icon-cart{  
      padding-right: 16px;
    padding-top: 12px;
}

.search-bar input[type="search"] {
    width: 100%;
    
    border: none;
    border-radius: 5px;
    background: transparent; 
    outline: none; 
    color: gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
  }
  .search-bar input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }
  .search-icons img{
 width: 30px;
 height: 30px;
 margin-left: 15px;
  }
  .nav-icon-number p{
    background-color: var(--text-hover-background-color);
    color:#ffff;
    position: absolute;
   height: 1.5rem;
    width: 1.5rem;
    
    text-align: center;
    border-radius: 100%;
    margin-top:-55px ;
    margin-left: 35px;
    display: inline;
    font-size: 0.9rem;
    font-weight: 500;
}
.logg-nav img{
    width: 125px;
    height: 95px;
}

    
/* path page */
.directon-path{
    display: flex;
    background-color: rgb(236, 235, 235);
    margin-top: 20px;
    padding: 20px;
    margin-bottom: 20px;
   
}
.directon-path{
    padding-left: 100px;
}
.directon-path p{
    margin-left: 20px;
    background-color:  rgb(236, 235, 235);
    
}    

/* cart page contetn */ 

.update-cart-continue-shoping{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.cart-heading {

    display: flex;
    width: 1686px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--text-hover-background-color);
    text-align: center;
}
.cart-heading p:nth-child(1){
    
    margin-left: 30px;
}
.cart-page-in-line{

    display: flex;
    width: 1659px;
    grid-template-columns: repeat(6,1fr);
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid var(--text-hover-background-color);
    margin-top:20px ;
    
}

.cart-page-in-line img{
    width: 100px;
    height: 100px;
    margin-right:200px;
    margin-bottom: 10px;
}
.cart-page-in-line .cart-page-name{
margin-left: -300px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 14px;

}

.cart-page-in-line .price{
margin-left: -50px;
padding-right: 50px;
}
.number-input input{
    border: none;
    width: 90px;
    height: 30px;
    outline: none;
    padding: 10px;
}




.cart-page-in-line .number-input{
    border:2px solid gray;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-right: 30px;
}
.cart-page-in-line .tot-price{
    margin-right: 80px;
    
}
.cart-page-in-line i{
    margin-right: 40px;
    cursor: pointer;
}
.cart-page-in-line i:hover{
    color:red
}
.cart-heading{
   font-weight: 600;
   color: gray;

}
.cart-page-name p:nth-child(1){
    color: var(--text-hover-background-color);
    font-weight: 600;
}


/*  buttons of cart first page*/
.cart-page-buttons{
    margin-left: 70rem;
}

.cart-page-buttons button,
.apply-coupon button,
.calculate-button button,
.tabel-cart-tools button{
    
    background-color: var(--text-hover-background-color);
    color: #fff;
    border: none;
   
    font-size: 20px;    
    padding: 10px;
    border: 2px solid var(--text-hover-background-color);
    border-radius: 5px;
    transition: all 0.3s;
}
.cart-page-buttons button:hover,
.apply-coupon button:hover,
.calculate-button button:hover,
.tabel-cart-tools button:hover{
    background-color: #ffff;
    color: var(--text-hover-background-color);
}
.cart-page-buttons button{
    margin-top: 40px;
    width: 200px;
}

/*line between addto cart and calculate  */
.left-line-cart {
    width: 800px;
    border-top: 2px solid #e2dddd; /* You can adjust the color as needed */
    margin: 10px 0; /* Optional: Adjust margin as needed */
  }
  .line-between-addtocart-calculate{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .line-between-addtocart-calculate i {
    padding-left: 40px;
    padding-right: 40px;

  }
  /* cart tools and calculating */
.calculate-cart{
    display: grid;
    grid-template-columns: 43% 43%;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    margin-bottom: 60px;
}


.cart-tools{
    border: 1px solid rgb(212, 212, 212);
    width: 600px;
    
}
.calculate-cart input{
    border: none;
    height: 30px;
}
.calculate-shopping{
    display: flex;
    flex-direction: column;
}
.c-s-first{
    border: 1px solid gray;
    border-radius: 5px;
}
.c-s-second{
    display: flex;
    padding-top: 10px;
  
    padding-bottom:10px ;
    width: 100%;
}
.c-s-secon-one{
    border: 1px solid gray;
    border-radius: 5px;
    padding-right: 10px;
    margin-right: 10px;
    
}
.c-s-secon-two{
    border: 1px solid gray;
    border-radius: 5px;
    padding-right: 10px;
}
    

.c-s-secon-one input, .c-s-secon-two input,.c-s-first input{
    padding-left: 10px;
    margin-left: 10px;
    width: 383px;
    height: 40px;
}
.c-s-first input{
    width: 800px;
    
}
.coupon-input{
    border: 1px solid gray;
    border-radius: 5px;
    
}
    
.apply-coupon-button{
    display: flex;
    
    align-items: center;
}
.calculate-button button{
    width: 200px;
}
.apply-coupon h1{
    font-size: 25px;
}
.coupon-input{
    margin-right: 10px;
}
.coupon-input input{
    border-radius: 10px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    
}
.apply-coupon-button button{
    width: 80px;
    height: 40px;
    align-items: center;
    display: flex;
    
}
input{
    outline: none;
}

table {
    border-collapse: collapse;
    margin-top: -30px;
    margin-bottom: 20px;
}

table td{
    border:1px solid gray;
    width: 200px;
    height: 30px;
}
table td:nth-child(1){
    padding-left: 10px;
    color: gray;
}
table td:nth-child(2){
    color: var(--text-hover-background-color);
    font-weight: 500;
    padding-left: 10px;
}
.cart-tools .tabel-cart-tools,
.cart-tools h1,
.cart-tools button{
    padding: 20px;
}
.cart-tools button{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-tools h1{
    font-size: 25px;
}

/* footer page */
footer{
    margin-top: 20px;
}

.fotter-heading{
    background-color:#adccc5;
    display: grid;
    grid-template-columns:   25% 30% 45%;;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    
    
   
    
}
.svg-and-name{
    display: flex;
    align-items: center;
    background-color:  #adccc5;
    margin-left: 100px;
}
.fotter-search-bar input{
border: none;
}
.fotter-search-bar{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 600px;
    height: 60px;
    border-radius:5px ;
   
}
.fotter-search-bar button{
    border: none;
    background-color: #212121;
    color: #ffff;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px ;
    font-size: 20px;
    width: 150px;
    margin-left: 210px;
}
.fotter-search-bar button:hover{
    background-color: var(--text-hover-background-color);
}
.fotter-search-bar input[type="search"] {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: transparent; 
    outline: none; 
    color: gray;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    padding-left: 10px;
    
  }
  .fotter-search-bar input[type="search"]::-webkit-search-cancel-button {
    display: none;
    
  }
.svg-and-name img{
    background-color: #adccc5;
    width: 50px;
    height: 50px;
}
.fotter-heading P{
    background-color:  #adccc5;
    font-size: 20px;
    font-weight: 500;
    padding-left: 5px;
}
    
    /* footer heading ends */

    a,p,h1,button,li{
        list-style: none;
        text-decoration: none;
        font-family: 'Catamaran', sans-serif;
        white-space: nowrap;
    }
    
.footer-content{
    display: grid;
    grid-template-columns:  22% 54% 20% ;
    margin-bottom: 40px;
    margin-top: 10px;
}
.footer-content-middle{
    display: grid;
    grid-template-columns: 25% 25%;
    justify-content: center;
}
.copy-right{
    margin: 10px;
    display: grid;
    grid-template-columns: 83% 0%;
    
}
.foolow-me-icons{
    display: flex;
}
.foolow-me-icons img{
    width: 20px;
    font-weight: 20px;
    
}
footer h1{
 font-size: 20px;
}
.below-footer-heading{
    margin-top: 40px;
   margin-left: 141px;

}
.footer-name-above-line {
    border-top: 1px solid #afafaf; /* You can adjust the color and thickness of the line */
    margin-top: 10px; /* Adjust the margin as needed */
    margin-right:100px;
    
  }
  .footer-content-middle a{
    transition: margin-left 0.3s;
  }  
.footer-content-middle a:hover{
    margin-left: 10px;
    color: var(--text-hover-background-color);
}
.footer-content-middle a{
    color:gray;
}
  /* responsive nesss */
   
/* tab size */
@media only screen and (max-width: 1000px) and (min-width: 700px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
/* header section  */
header{
    gap: 0;
    grid-template-columns:75%;
    width: 100%;
}
.header-left-text p{
    padding-right:50px;
    
    }
    /* logo nav bar and serch bar */
    .logog-nav-search{
        display: grid;
        gap: 0;
        grid-template-columns: repeat(1,1fr);
        /* justify-content: space-around; */
        align-items: center;
        margin-top: 0px;
        margin-left: 50px; 
        scale: 1.1;

    }

    
    /* path page */

    .directon-path{
        font-size: 20px;
    }

    .update-cart-continue-shoping{
        scale: 0.57;
        margin-top: -4px;
    }
    
    .update-cart-continue-shoping{
        scale: 0.54;
        margin-top: 164px;
    }
    .cart-heading{
        margin-top: -344px;
    }
    /* calculateing cart */
    
    .calculate-cart{
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 20px;
    }
    .calculate-cart input{
        width: 240px;
        margin-bottom: 10px;
        
    }
    .c-s-second{
        display: flex;
        flex-direction: column;
        
    }
    .c-s-secon-one{
        margin-bottom: 10px;
    }
    .cart-tools{
        width: 350px;
    }
    .line-between-addtocart-calculate{
        margin-top: -40px;
    }
    .tabel-cart-tools table{
        width: 250px;
        }
    /* footer page */
.fotter-heading{
    display: grid  ;
    grid-template-columns: 100%;
    text-align: center;
    width: 100%;
}
.svg-and-name{
    margin-left: 236px;   /*   change vinanayambekr.b@gmail.com (position) */
}
.fotter-search-bar{
    scale: 1;
    margin-left: 60px;
}
/* footer content */
.footer-content{
    display: grid;
    grid-template-columns: 100%;
    margin-left: -114px;
}
.footer-logo {
    margin: -34px 0 0 0;
    padding: 0;
}
/* .footer-addres-left{
    margin-top: 0px;
} */
.footer-content-middle{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.copy-right{
    display: grid;
    grid-template-columns: 78% 52%;
    margin-left: -109px;
}
.footer-name-above-line{
    margin-left: -112px;
    width: 738px;
}
    }
    
    /* end of th tab version */
    
    /* -------------- */
    
    
    /* phone size */
    
    @media only screen and (max-width:699px) and (min-width: 300px) {
    
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }
    /* header section  */
        header{
            display: none;
            
        }
        
        
        
        /* logo nav bar and serch bar */
        .logog-nav-search{
            
            display: grid;
            gap: 0;
            grid-template-columns: repeat(1,1fr);
           
            align-items: center;
            margin-top: -1rem;
            margin-right: 2rem; 
            scale: 0.5;
            
            
        }
        .logg-nav img{
            margin-bottom: 40px;
        }
    
       .logog-nav-search ul{
        display: grid;
        grid-template-columns: 20% 20% 20%;
        gap: 24px;
        scale: 1.3;
      
        margin-bottom: 40px;
        }
        .logog-nav-search img{
    margin-right: 30px;
        }
        .search-icons{
            scale: 1.2;
            
        }
        /* path */
.directon-path{
   
    margin-left: -64px;
}
/* cart page  */
.update-cart-continue-shoping{
    scale: 0.57;
    margin-top: -4px;
}

.update-cart-continue-shoping{
    scale: 0.25;
    margin-top: -17px; 
}
.cart-heading{
    margin-top: -344px;
}
/* calculateing cart */

.calculate-cart{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
}
.calculate-cart input{
    width: 240px;
    margin-bottom: 10px;
    
}
.c-s-second{
    display: flex;
    flex-direction: column;
    
}
.c-s-secon-one{
    margin-bottom: 10px;
}
.cart-tools{
    width: 350px;
}
.line-between-addtocart-calculate{
    margin-top: -89px;
}
.tabel-cart-tools table{
    width: 250px;
    }
/* footer */
.svg-and-name{
    margin-left: 44px;   /*   change vinanayambekr.b@gmail.com (position) */
}
.fotter-heading{
    display: grid  ;
    grid-template-columns: 100%;
    text-align: center;
    width: 100%;
}
.fotter-search-bar{
    scale: 0.6;
    margin-left: -129px;
}


/* footer contetn */
.footer-content{
    display: grid;
    grid-template-columns: 100%;
    margin-left: -114px;
}
.footer-logo {
    margin: -34px 0 0 0;
    padding: 0;
}
.footer-addres-left{
    margin-top: -46px;
}
.footer-content-middle{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.copy-right{
    display: flex;
    flex-direction: column;
    margin-left: -45px;
}
.footer-name-above-line{
    margin-left: -87px;
    width: 300px;
}


    }

